server:
  port: 9005
  context-path: /gateway
spring:
  application:
    name: GatewayServer
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:9000/eureka/
    healthcheck:
      enabled: true
    register-with-eureka: true
    fetch-registry: true